################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PITL.Power.Extract/.vs
/PITL.Power.Extract/bin/Debug/net10.0
/PITL.Power.Extract/obj
/PITL.Power.Extract.Tests/bin/Debug/net10.0
/PITL.Power.Extract.Tests/obj
/.vs/pitl-challenge2026.slnx/v18
/.vs/PITL.Power.Extract/CopilotIndices/18.0.981.45449
/.vs/PITL.Power.Extract.slnx/FileContentIndex
/.vs
